.journey-container {
	color: white;
	background-color: black;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.journey-container .content {
	flex-grow: 1;
}

.journey-container .content .journey-row {
	margin-top: 3rem;
}